:root {
  --background_color: rgba(24, 115, 231, 0.1);
  --white_color: #ffffff;
  --dark_gray_color: #3d535f;
  --violet_color: #7f00ff;
  --inactive_color: #b3ddff;
  --active_color: #41a9ff;
  --title_color: #1873e7;
  --black_color: #000;
  --links_color: #0c47cb;
  --avatar_color_1: #ffd37e;
  --post_color: #232a30;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* will have to add min-zoom and max-zoom to the app */
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: var(--background_color);
}

a {
  text-decoration: none;
  color: var(--black_color);
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
/* End of general styles */

/* Logo styles */
.logo {
  font-family: 'Redressed';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: var(--title_color);
}

/* Avatar styles */
.avatar--container {
  background: var(--avatar_color_1);
  display: flex;
  justify-content: center;
  margin-left: 20px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
}
.avatar--container:hover {
  cursor: pointer;
}
.avatar--container span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 47px;
  margin-top: 10px;
  color: var(--white_color);
}

/* Beginning of Navigation bar styles */
.nav {
  box-sizing: border-box;
  position: fixed;
  width: 295px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: var(--white_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 20px 0;
  border-bottom: 1px solid var(--active_color);
}

.nav a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #3c464c;
}

.nav ul li a:hover {
  color: var(--inactive_color);
}

.profile--details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.profile--details .avatar--container {
  width: 140px;
  height: 140px;
  border-radius: 70px;
  margin-left: -5px;
}
.profile--details span {
  margin-top: 50px;
  font-weight: 500;
  font-size: 50px;
}

.followers p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #3c464c;
}
.logout--btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 80%;
}
/* End of navigation styles  */

/* Main content styles */
.main {
  position: absolute;
  left: 303px;
  width: 70%;
  height: auto;
  top: 277px;
  background: var(--white_color);
}

/* Register and log in form styles*/
.form--heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
  text-align: center;
}
.form--heading h1 {
  color: var(--title_color);
}

.form--heading p {
  color: var(--black--color);
}

.form {
  width: 70%;
  margin: 0 auto;
}

.form--group {
  margin-bottom: 10px;
}

.form--group input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--inactive_color);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form--group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}
.form h3,
p {
  text-align: center;
}
.form p {
  color: var(--links--color);
  font-size: 20px;
  font-weight: 700;
}
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.active--btn {
  background-color: var(--active_color);
  color: var(--black--color);
  border: none;
  cursor: pointer;
  appearance: button;
}
.inactive--btn {
  background-color: var(--inactive_color);
  color: var(--dark_gray_color);
}

.active--btn:hover {
  transform: scale(0.98);
}
/* End of register and log in form styles */

/* Post form style */
.post--form--container {
  position: absolute;
  width: 70%;
  padding: 20px;
  height: 251px;
  left: 303px;
  top: 10px;
  background: var(--white_color);
  margin: 0 auto;
}
.post--form {
  display: flex;
}

.post--form textarea {
  font-size: 20px;
  width: 300%;
  min-height: 140px;
  max-height: 150px;
  min-width: 690px;
  max-width: 690px;
  padding: 10px;
  border-radius: 5px;
  margin: 0px 0px 20px 10px;
  font-family: inherit;
  border: none;
}

.post--btn {
  background-color: var(--links_color);
  color: var(--black--color);
  border: none;
  cursor: pointer;
  appearance: button;
  width: 20%;
  float: right;
  margin-right: 30px;
}

/* Post styles */

.posts {
  display: grid;
  grid-template-columns: auto;
}

.post {
  display: grid;
  grid-template-columns: 100px auto;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}
.post .name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: var(--post_color);
}
.post .post--text {
  font-family: 'Roboto';
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--black_color);
}

.post .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

/* End of post styles */

/* Password validity styles */
.stable-password {
  font-family: monospace;
  color: green;
}

.unstable-password {
  font-family: monospace;
  color: red;
}

.view-password {
  background-color: var(--black--color);
  color: var(--white_color);
  cursor: pointer;
  border-radius: 1px;
  padding: 4px;
}
/* End of password validity styles */

/* Loading spinner styles */
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }
  .heading h1 {
    font-size: 2rem;
  }
  .heading p {
    font-size: 1.5rem;
  }
}
